.header {
  background-color: #fff;
  border-bottom: 1px solid #e0e0e0;
  padding: 1.5rem 0;         /* só padding vertical */
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;              /* ocupa 100% da tela */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.03);
  font-family: 'Georgia', serif;
}

.container_head {
  max-width: 1200px;         /* largura máxima do conteúdo */
  margin: 0 auto;            /* centraliza */
  padding: 0 2rem;           /* padding horizontal */
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.logo a {
  font-size: 1.8rem;
  font-weight: bold;
  color: #2e2e2e;
  text-decoration: none;
  letter-spacing: 1px;
  padding-bottom: 3px;
}

.nav-links {
  display: flex;
  gap: 1.2rem;
}

.nav-links a {
  text-decoration: none;
  color: #444;
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: rgb(20, 57, 182);
}

.auth-buttons {
  display: flex;
  gap: 0.8rem;
}

.btn {
  padding: 0.5rem 1.2rem;
  font-size: 0.95rem;
  border: 1px solid goldenrod;
  background-color: transparent;
  color: goldenrod;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.3s ease;
}

.btn:hover {
  background-color: goldenrod;
  color: white;
}
